body {
    background-color: lightblue;
  }
  
section {
    text-indent: 50px;
    text-align: justify;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(172, 62, 84);
    text-shadow: 2px 2px 5px rgb(24, 24, 26);
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson; 
    backgrund-color: beige;
}

footer {
    color:blue;
}